
/* 
.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
  
body{font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #E39695;
    /* color:#F5F0F6;
     */
}
.top{
    padding-top: 4rem;
}
img{
    object-fit: cover;
    
}
